// BUTTON STYLES
.mat-button {
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
.button-row button, .flat-button-row button,
.button-row a, .flat-button-row a {
    margin-right: 8px;
    margin-bottom: 8px;
}