<h1>{{ title }}</h1>
<p style="font-style: normal !important;">Styleguide for BDAS user interfaces and application. Utilizing Angular 7.0 and Angular Material Design components with custom branding theme and colors.</p>
<p>Code: <a href="https://github.com/toalina/bdas-styleguide" target="_blank">https://github.com/toalina/bdas-styleguide</a></p>
<div>
  <app-logos></app-logos>
  
  <mat-divider></mat-divider>

  <h3 class='heading-title'>Colors</h3>
  <div class='colors-container'>
    <div class='primary-color-container'>
      <h3>Primary color</h3>
      <p>Hex: #d2151e</p>
      <p>RGB values: 210, 21, 30</p>
    </div>
    <div class='secondary-color-container'>
      <h3>Secondary color</h3>
      <p>Hex: #980b12</p>
      <p>RGB values: 152, 11, 18</p>
    </div>
  </div>
  

  <mat-divider></mat-divider>
  
  <h3 class='heading-title'>Font Families</h3>

  <h3>Primary font: Oswald</h3>
  <p>Secondary font: Open Sans</p>

  <mat-divider></mat-divider>
  
  <h3 class='heading-title'>Font Sizes</h3>

  <h1 class='intro-title'>Home hero h1: 70px</h1>
  <h3 class='heading-title'>Heading title h3: 24px</h3>
  <h3 color="primary" class='callout-title'>Call out h3: 16px in primary color</h3>

  <h1>This is an h1: 47px</h1>
  <h2>This is an h2: 24px</h2>
  <h3>This is an h3: 18px</h3>
  <h4>This is an h4: 16px</h4>
  <h5>This is an h5: 14px</h5>
  <h6>This is an h6: 12px</h6>
  
  <mat-divider></mat-divider>
  
  <h3 class='heading-title'>Paragraphs</h3>
  <p>This is a paragraph: 16px italics</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <p class='entry-content'>This is a small paragraph: 13px</p>
  <p class='entry-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <mat-divider></mat-divider>
  
  <app-buttons></app-buttons>
  
  <mat-divider></mat-divider>

  <app-form-fields-inputs></app-form-fields-inputs>


  

  
  
</div>



